<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detect video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>detect object in Video</h1>
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <label for="file">Choose video to upload:</label>
            <input type="file" name="file" id="file" accept="video/*,image/*" required>
            <button type="submit">upload and detect</button>
        </form>
        <div id="result">
            <!-- result -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
